<div class="column is-one-quarter">
	<nav class="panel">
		<p class="panel-heading">Trends</p>
		<a class="panel-block">
			#PakistanIsAStrongNation
		</a>
		<a class="panel-block">
			#NepalPlaneCrash
		</a>
		<a class="panel-block">
			#WeStandWithBabar
		</a>
		<a class="panel-block">
			Zimbabwe
		</a>
		<a class="panel-block">
			#Kashmir
		</a>
		<a class="panel-block">
			Bumrah
		</a>
	</nav>
</div>